@import "variables";

.ex-margin-left-xxs {
  margin-left: $xxs;
}

.ex-margin-right-xxs {
  margin-right: $xxs;
}

.ex-margin-left-xs {
  margin-left: $xs;
}

.ex-margin-right-xs {
  margin-right: $xs;
}

.ex-margin-left-s {
  margin-left: $s;
}

.ex-margin-right-s {
  margin-right: $s;
}

.ex-margin-left-m {
  margin-left: $m;
}

.ex-margin-right-m {
  margin-right: $m;
}

.ex-margin-left-l {
  margin-left: $l;
}

.ex-margin-right-l {
  margin-right: $l;
}
